@model IEnumerable<Rad301ClubsV1.Models.ClubModel.Member>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary btn-xs" })
</p>
<div class="panel panel-default">
    <div class="panel-heading">
        <strong>Member List</strong>
    </div>
    <table class="table table-hover table-condensed">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.club.ClubName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.student.StudentID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.student.Fname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.student.Sname)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.club.ClubName)
                </td>
                <td>
                    @Html.DisplayFor(modlItem => item.student.StudentID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.student.Fname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.student.Sname)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }, new { @class = "btn btn-primary btn-xs" })
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }, new { @class = "btn btn-primary btn-xs" })
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ }, new { @class = "btn btn-primary btn-xs" })
        </td>
    </tr>
        }

    </table>
</div>
